<div class="container mt-6">
  <div class="row card">
    <form class="col-12" [formGroup]="textForm" (ngSubmit)="onSubmit()">
      <h3 class="text-primary">interview with Jesper</h3>
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <div class="form-group">
        <label for="email">Text:</label>
        <input
          type="textarea"
          class="form-control"
          id="text"
          placeholder="Enter text"
          name="text"
          formControlName="text"
        />
        <b>Number of letters: </b>{{ letters }}
        <div
          *ngIf="textForm.get('text').hasError('maxlength')"
          class="alert alert-danger"
        >
          <span> should contain 10 characters only</span>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">URl:</label>
        <input
          type="text"
          class="form-control"
          id="url"
          placeholder="Enter URl"
          name="url"
          formControlName="url"
        />
        <small class="text-muted"
          >Please use the same Url in order to get the desired result "https://baconipsum.com/api/?type=all-meat&paras=1"
        </small>
        <div
          *ngIf="textForm.get('url').hasError('urlWrong')"
          class="alert alert-danger"
        >
          <span> please use the same Url</span>
        </div>
      </div>
      <div *ngFor="let item of topTen | keyvalue">
        Word: <b>{{ item.key }}</b> occurrences: <b>{{ item.value }}</b>
      </div>
      <button
        [disabled]="textForm.invalid"
        type="submit"
        class="btn btn-primary mt-2"
      >
        Submit
      </button>
      <div *ngIf="isLoading">Loading....</div>
    </form>
  </div>
</div>
